@page "/"
@layout CustomLayout
@inject NavigationManager Navigation

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Curriculum Vitae</title>
    <link href="../wwwroot/css/bootstrap/bootstrap.min.css" rel="stylesheet" >
    <style>
        
     @* /********************/
        /****** Header ******/
        /********************/ *@

        header {
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            height: 400px;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        header::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: -1;
        }

        header::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-image: url('/curriculum-vitae/header.jpg');
            background-position: center top -450px;
            background-repeat: no-repeat;
            background-size: cover;
            filter: grayscale(100%);
            z-index: -2;
        }

        .circle {
            position: absolute;
            top: 25%;
            left: 15%;
            transform: translateX(-50%);
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid rgb(172, 172, 172);
            z-index: 1;
        }

        .profile-pic {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .text-container {
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            color: white;
            text-shadow: 1px 1px 1px black;
        }

        .text-container div::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.2);
            z-index: -1;
            border-top: 1px solid rgb(138, 136, 136);
            border-bottom: 1px solid rgb(138, 136, 136);
        }

        .text-container h1 .waterblue {
            color: #089288;
        }

        .text-container h1 {
            font-size: 3.5em;
        }

        .text-container p .waterblue {
            color: #089288;
        }

        .text-container p {
            font-size: 2.7em;
            margin: 0;
        }

     @* /********************/
        /** Main container **/
        /********************/ *@

        .main-container {
            display: flex;
            flex-direction: row;
            position: relative;
            width: 100%;
            height: 2700px;
            z-index: 0;
        }

        .main-container h1 .black {
            color: #000;
        }

        .main-container p .gray {
            color: #303030;
        }

        .main-container h1 {
            font-size: 2.3em;
        }

        .main-container h2 {
            font-size: 1.3em;
            font-weight: bold;
            color: #707070;
        }

        .main-container h3 {
            font-size: 1.2em;
            color: #575555;
        }

        .main-container p {
            font-size: 1.3em;
        }

        .main-container .date {
            display: inline-block;
            font-weight: normal;
            margin-top: 35px;
            margin-right: 35px;
        }

        .main-container .date span {
            color: #089288;
        }

        .main-container .circle-filled {
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #033a36;
            border: 1px solid #012523;;
            margin-right: 2px;
            margin-left: 2px;
        }

        .main-container .circle-empty {
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #b8b8b8;
            border: 1px solid rgb(172, 172, 172);
            margin-right: 2px;
            margin-left: 2px;
        }

        .main-container .circles {
            display: flex;
            width: 100px;
        }

        .left-column,
        .right-column {
            display: flex;
            width: 50%;
            height: 100%;
            box-sizing: border-box;
            z-index: 1;
        }

        .left-column {
            background-color: rgba(211, 211, 211, 0.63);
            border-right: 5px solid #ccc;
            position: relative;
            text-align: justify;
            z-index: -2;
        }

        .right-column {
            background-color: #19a09727;
            position: relative;
            text-align: justify;
            z-index: -2;
        }

        .triangle-top {
            width: 0;
            height: 0;
            border-top: 400px solid transparent;
            border-bottom: 0 solid transparent;
            border-left: 650px solid #fff;
            position: absolute;
            right: 0;
            top: 0;
            transform: rotate(180deg);
            z-index: -1;
        }

        .triangle-bottom {
            width: 0;
            height: 0;
            border-top: 0 solid transparent;
            border-bottom: 400px solid transparent;
            border-left: 650px solid #fff;
            border-right: 0px solid transparent;
            position: absolute;
            right: 0;
            bottom: 0;
            transform: rotate(180deg);
            z-index: -1;
        }

        .credits {
            position: absolute;
            right: 10px;
            bottom: 10px;
            z-index: 0;
        }

        .text {
            position: absolute;
            padding: 60px;
        }

     @* /********************/
        /* Left column text */
        /********************/ *@

        .left-column .profile {
            padding: 10px;
            margin-bottom: 10px;
            position: ;
        }

         .left-column .contact {
            padding: 10px;
            margin-bottom: 10px;
        }

        .left-column .languages {
            padding: 10px;
            margin-bottom: 10px;
            align-items: center;
        }

        .left-column .language-container {
            display: flex;
        }

        .left-column .circle-container {
            display: flex;
            justify-content: right;
            align-items: center;
            width: 150px;
            margin-left: 1px;
        }

        .left-column .education {
            padding: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: left;
        }

        .left-column .education-container {
            display: flex;
            margin-bottom: 20px;
        }

        .left-column .academic-projects {
            padding: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: left;
        }

        .left-column .project-container {
            display: flex;
        }

        .left-column .project {
            flex-direction: column;
            align-items: left;
            margin-bottom: 25px;
        }

        .left-column .project span {
            color: #089288;
        }

        .left-column .framework-container {
            display: flex;
        }

        .left-column .frameworks {
            display: flex;
            width: 100px;
        }

        .left-column .framework-circle-container {
            display: flex;
            justify-content: right;
            align-items: center;
            width: 150px;
            margin-top: 1px;
            margin-bottom: 1px;
            padding: 5px 0;
        }

        .left-column .hobbies {
            padding: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: left;
        }

        .left-column .hobbies-container {
            display: flex;
        }

     @* /*********************/
        /* Right column text */
        /*********************/ *@

        .right-column .professional-experiences {
            padding: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: left;
        }

        .right-column .experience-container {
            display: flex;
        }

        .right-column .experience {
            flex-direction: column;
            align-items: left;
            margin-bottom: 25px;
        }

        .right-column .framework-container {
            display: flex;
        }

        .right-column .frameworks {
            display: flex;
            width: 100px;
        }

        .right-column .framework-circle-container {
            display: flex;
            justify-content: right;
            align-items: center;
            width: 150px;
            margin-top: 1px;
            margin-bottom: 1px;
            padding: 5px 0;
        }

        .right-column .volunteering {
            padding: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: left;
        }
    </style>
</head>

<body>
    <header>
        <div class="circle">
            <img src="/curriculum-vitae/profile-pic.jpg" alt="Profile Picture" class="profile-pic">
        </div>
        <div class="text-container">
            <div>
                <h1>Luís <span class="waterblue">Filipe Costa</span> Brochado</h1>
                <p>.<span class="waterblue">NET</span> & Docker Programmer</p>
            </div>
        </div>
    </header>

    <div class="main-container">
        <div class="left-column">
            <div class="text">
                <h1>Profile</h1>
                <div class="profile">
                    <p>
                        <span class="gray">
                        Cross-platform software developer experienced with object-oriented programming,
                        domain driven design, event sourced, and test driven development. Passionate for CI/CD.
                        </span>
                    </p>
                    <p>
                        <span class="gray">
                            DevOps advocate. Objective in communication, thoughtful team-player,
                            knowledge-hungry, eager to try new foods, meet people, and traveling.
                        </span>
                    </p>
                </div>

                <h1>Contact</h1>
                <div class="contact">
                    <p>
                        <p>
                            <MudButton Variant="Variant.Outlined"
                                       Href="mailto://lfilipecosta3@gmail.com"
                                       StartIcon="@Icons.Material.Filled.Mail"
                                       IconSize="Size.Large">                                       
                                lfilipecosta3@gmail.com
                            </MudButton>
                        </p>
                        <p>
                            <MudButton Variant="Variant.Outlined"
                                       Href="https://www.linkedin.com/in/luis-filipe-costa-brochado-62b63bb7/"
                                       StartIcon="@Icons.Custom.Brands.LinkedIn"
                                       IconSize="Size.Large">                                       
                                /in/luis-filipe-costa-brochado-62b63bb7/
                            </MudButton>
                        </p>
                        <p>
                            <MudButton Variant="Variant.Outlined"
                                       Href="https://linktr.ee/luiscostabrochado"
                                       StartIcon="@Icons.Material.Filled.Language"
                                       IconSize="Size.Large">                                       
                                https://linktr.ee/luiscostabrochado
                            </MudButton>
                        </p>
                    </p>
                </div>

                <h1>Languages</h1>
                <div class="languages">
                    <div class="language-container">
                        <h2 class="circles">English</h2>
                        <div class="circle-container">
                            <h4 class="circle-filled"></h4>
                            <h4 class="circle-filled"></h4>
                            <h4 class="circle-filled"></h4>
                            <h4 class="circle-filled"></h4>
                            <h4 class="circle-filled"></h4>
                        </div>
                    </div>
                    <div class="language-container">
                        <h2 class="circles">Spanish</h2>
                        <div class="circle-container">
                            <h4 class="circle-filled"></h4>
                            <h4 class="circle-filled"></h4>
                            <h4 class="circle-filled"></h4>
                            <h4 class="circle-empty"></h4>
                            <h4 class="circle-empty"></h4>
                        </div>
                    </div>
                    <div class="language-container">
                        <h2 class="circles">French</h2>
                        <div class="circle-container">
                            <h4 class="circle-filled"></h4>
                            <h4 class="circle-empty"></h4>
                            <h4 class="circle-empty"></h4>
                            <h4 class="circle-empty"></h4>
                            <h4 class="circle-empty"></h4>
                        </div>
                    </div>
                </div>

                <h1>Education</h1>
                <div class="education">
                    <div class="education-container">
                        <h2 class="date">
                            20<span>12</span><br>
                            20<span>17</span>
                        </h2>
                        <div>
                            <div>
                                <h2>UTAD Bachelors degree</h2>
                            </div>
                            <div>
                                <p>Information Technology and communications</p>
                            </div>
                        </div>
                    </div>
                    <div class="education-container">
                        <h2 class="date">
                            20<span>17</span><br>
                            20<span>19</span>
                        </h2>
                        <div>
                            <div>
                                <h2>UTAD Masters degree</h2>
                            </div>
                            <div>
                                <p>Computer science Thesis: <br>
                                    <i>
                                        Automated testing pipeline for continuous integration and delivery of software
                                        B2B in Agile development
                                    </i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <h1>Academic projects</h1>
                <div class="academic-projects">
                    <div class="project-container">
                        <h2 class="date">
                            20<span>17</span>
                        </h2>
                        <div class="project">
                            <div>
                                <h2>AI module used in yield estimation</h2>
                            </div>
                            <div>
                                <p>
                                    Msc. project developed on C.S degree. Applying deep learning algorithms 
                                    in convolutional neural networks on data classification, using python and docker.
                                </p>
                            </div>
                            <h2>Tech stack</h2>
                            <div class="framework-container">
                                <h3 class="frameworks">Python</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">Docker</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">TensorFlow</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">Theano</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">Keras</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="circles">PyTorch</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-container">
                        <h2 class="date">
                            20<span>18</span>
                        </h2>
                        <div class="project">
                            <div>
                                <h2>Summer Internship <span>@@</span> YUGOUP Academy</h2>
                            </div>
                            <div>
                                <p>
                                    Summer internship in REGIA DOURO PARK. Internship focused on backend, frontend and
                                    mobile software development with C# and JavaScript using Agile methodologies and
                                    Scrum.
                                </p>
                            </div>
                            <h2>Tech stack</h2>
                            <div class="framework-container">
                                <h3 class="frameworks">.NET Core</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">Xamarin</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">NodeJS</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">Git</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-container">
                        <h2 class="date">
                            20<span>19</span>
                        </h2>
                        <div class="project">
                            <div>
                                <h2>Communication Manager <span>@@</span> ENGAGE IT UTAD</h2>
                            </div>
                            <div>
                                <p>Job Fair organized by UTAD in collaboration with CM Vila Real, REGIA DOURO PARK &
                                    UTAD Solutions Consulting.</p>
                            </div>
                            <h2>Lessons learned</h2>
                            <div class="framework-container">
                                <h3 class="frameworks">Spendings</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">Planning</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">Ownership</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">Priorization</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">Delegation</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h1>Hobbies</h1>
                <div class="hobbies"> 
                    <div class="hobbies-container">
                        <img src="/curriculum-vitae/hobbies/gym.png" alt="Gym" style="width: 19%; height: 19%; margin-top: 6%; margin-left: 4%;" />
                        <img src="/curriculum-vitae/hobbies/karate.png" alt="Karate" style="width: 19%; height: 19%; margin-top: 3%; margin-left: 5%;" />
                        <img src="/curriculum-vitae/hobbies/reading.png" alt="Reading" style="width: 14%; height: 14%; margin-top: 7%; margin-left: 7%;" />
                        <img src="/curriculum-vitae/hobbies/skateboarding.png" alt="Skateboarding" style="width: 16%; height: 16%; margin-top: 5%; margin-left: 7%" />
                    </div>
                </div>
            </div>
        </div>

        <div class="right-column">
            <div class="triangle-top"></div>

            <div class="text">
                <h1>Professional Experience</h1>
                <div class="professional-experiences">
                    <div class="experience-container">
                        <h2 class="date">
                            20<span>18</span><br>
                            20<span>19</span>
                        </h2>
                        <div class="experience">
                            <div>
                                <h2>IZILABS Software</h2>
                            </div>
                            <div>
                                <p>
                                    Automation Internship - Dissertation<br>
                                    October 2018 - June 2019
                                </p>
                            </div>
                            <div>
                                <h2>Role & Activities</h2>
                            </div>
                            <div>
                                <p>
                                    Software development trainee. Web service development. Micro-services development. RESTfull Web API development. CI/CD. DevOps. TDD.
                                </p>
                            </div>
                            <h2>Tech stack</h2>
                            <div class="framework-container">
                                <h3 class="frameworks">C#</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">Docker</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">Git</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">Jenkins</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">PowerShell</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="circles">Bash</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="experience-container">
                        <h2 class="date">
                            20<span>19</span><br>
                            20<span>20</span>
                        </h2>
                        <div class="experience">
                            <div>
                                <h2>Euronext Technologies</h2>
                            </div>
                            <div>
                                <p>
                                    Application Support (Internship) <br>
                                    September 2019 - March 2020
                                </p>
                            </div>
                            <div>
                                <h2>Role & Activities</h2>
                            </div>
                            <div>
                                <p>
                                    Application support trainee. Service workflow management. Systems administration. Market opening and closure. Service Desk.
                                </p>
                            </div>
                            <h2>Tech stack</h2>
                            <div class="framework-container">
                                <h3 class="frameworks">R.H.E.L.</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">AWS Cloud</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">Jenkins</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">Kafka</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">NAGIOS</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">ELK Stack</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="circles">Bash</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="experience-container">
                        <h2 class="date">
                            20<span>20</span><br>
                            20<span>22</span>
                        </h2>
                        <div class="experience">
                            <div>
                                <h2>Merkle DACH/Isobar Switzerland</h2>
                            </div>
                            <div>
                                <p>
                                    Junior Software developer - Consultant <br>
                                    July 2020 - February 2022 
                                </p>
                            </div>
                            <div>
                                <h2>Role & Activities</h2>
                            </div>
                            <div>
                                <p>
                                    Software Developer. Database Administration. Automation. RESTfull API Development. Micro-services development.
                                </p>
                            </div>
                            <h2>Tech stack</h2>
                            <div class="framework-container">
                                <h3 class="frameworks">.NET</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">Azure</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">MS SQL</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">Docker</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">PowerShell</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="experience-container">
                        <h2 class="date">
                            20<span>22</span>
                        </h2>
                        <div class="experience">
                            <div>
                                <h2>LetsGetChecked</h2>
                            </div>
                            <div>
                                <p>
                                    Software developer (Mid-Level) <br>
                                    February 2022 - today 
                                </p>
                            </div>
                            <div>
                                <h2>Role & Activities</h2>
                            </div>
                            <div>
                                <p>
                                    Software Developer. Automation. RESTfull API Development. Micro-services development. CICD.
                                </p>
                            </div>
                            <h2>Tech stack</h2>
                            <div class="framework-container">
                                <h3 class="frameworks">.NET</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">AWS Cloud</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">MS SQL</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">Docker</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">PowerShell</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">Jenkins</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                            <div class="framework-container">
                                <h3 class="frameworks">Kafka</h3>
                                <div class="framework-circle-container">
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-filled"></h4>
                                    <h4 class="circle-empty"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h1>Volunteering</h1>
                <div class="volunteering">
                    <div class="experience-container">
                        <h2 class="date">
                            20<span>17</span><br>
                            20<span>19</span>
                        </h2>
                        <div class="experience">
                            <div>
                                <h2>UTAD Solutions Consulting</h2>
                            </div>
                            <div>
                                <p>
                                    Volunteer IT Manager; March 2017 - October 2017
                                    <br>
                                    Marketing Director; November 2017 - May 2018
                                    <br>
                                    External Vice-President; June 2018 - February 2019
                                </p>
                            </div>
                            <div>
                                <h2>Tasks & Activities</h2>
                            </div>
                            <div>
                                <p>
                                    Projects collaboration; Academic and enterpreneurial activities organization.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="experience-container">
                        <h2 class="date">
                            20<span>20</span><br>
                            20<span>23</span>
                        </h2>
                        <div class="experience">
                            <div>
                                <h2>Centro Municipal de Voluntariado de Felgueiras</h2>
                            </div>
                            <div>
                                <p>
                                    Volunteer; June 2020 - Present day
                                </p>
                            </div>
                            <div>
                                <h2>Tasks & Activities</h2>
                            </div>
                            <div>
                                <p>
                                    Projects collaboration; Cultural activities organization.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="triangle-bottom"></div>
            <div class="credits">Made with <MudIcon Icon="@Icons.Material.Filled.FavoriteBorder" Size="Size.Small"/> and <MudIcon Icon="@Icons.Custom.Brands.MudBlazor" Size="Size.Small"/> <MudIcon Icon="@Icons.Custom.Brands.MicrosoftVisualStudio" Size="Size.Small"/> <MudIcon Icon="@Icons.Custom.Brands.Linux" Size="Size.Small"/> <MudIcon Icon="@Icons.Material.Filled.Html" Size="Size.Small"/> <MudIcon Icon="@Icons.Material.Filled.Css" Size="Size.Small"/></div>
        </div>
    </div>
</body>